{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-4">
    <h1>{{title}}</h1>
  </div>
  <div class="col-4">
    {% now "jS F Y H:i" as date_now %}
    <h3>{{date_now}}</h3>
  </div>
  <div class="col-4">
    <a class="btn btn-primary" href="{% url 'car-model-create' %}">Create</a>
  </div>
</div>
{% regroup car_model_list by company as company_list %}
{% for company in company_list %}
<h1>{{company.grouper}}</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
    <tbody>
      {% for car_model in company.list %}
      <tr>
        <th scope="row"><a href="/car_model/{{car_model.id}}">{{car_model.name}}</a></th>
        <td>{{company.name}}</td>
      </tr>
      {% endfor %}
    <tbody>
</table>
{% endfor %}
{% endblock content%}